body {
  margin: 10%;
}

/** {
    outline: 1px solid red !important; //
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 3px solid #7d97ad;
  display: flex;
}

#udacityImage {
  width: 10%;
}

#featured {
  position: relative;
  margin-left: 10px;
  margin-bottom: 30px;
  font-size: 1.60em;
  font-family: 'Lato', sans-serif;
  color: #7d97ad;
  font-weight: 100;
}

#nameStack {
  text-align: right;
  width: 90%;
}

#name {
  margin: 0 auto;
  font-size: 35px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #7d97ad;
}

#stack {
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  color: #2d3c49;
}

.jumbo {
  width: 100%;
  margin-top: 20px;
  height: 300px;
}

#jumboImg {
  width: 100%;
  height: 100%;
}

.thumbnailContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.thumbnails {
  width: 33.3333%;
  height: 300px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
}

.thumbnails img {
  width: 100%;
  height: 65%;
  padding: 10px;
}

.thumbnails p:first-of-type {
  font-size: 1.5em;
  margin: 0;
}

.thumbnails p:last-of-type {
  font-size: .7em;
  margin: 0;
}

a {
  color: #2d3c49;
  text-decoration: none;
}
