body {
  margin: 10%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  border-bottom: 1px solid #ddd;
}

.header {
  border-bottom: 3px solid #7d97ad;
  max-width: 50em;
  display: flex;
  flex-wrap: wrap;
}

#imgItem {
  width: 60%;
}

#nameStack {
  text-align: right;
  width: 40%;
}

#name {
  margin: 0 auto;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

#stack {
  font-family: 'Lato', sans-serif;
}

#jumboImg {
  max-width: 100%;
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails {
  margin: 10px;
  width: 33.333333%;
}
