body {
  margin: 10%;
}

* {
    outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.header {
  border-bottom: 3px solid #7d97ad;
  display: flex;
  flex-wrap: wrap;
}

#featured {
  margin-left: -550px;
  margin-bottom: 10px;
  position: relative;
  font-size: 1.75em;
  font-family: 'Lato', sans-serif;
  color: #7d97ad;
}

#udacityImage {
  height: 100%;
  width: 100%;
}

#nameStack {
  text-align: right;
  width: 85%;
}

#name {
  margin: 0 auto;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

#stack {
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
}

.jumbo {
  width: 100%;
  margin-top: 20px;
  height: 400px;
}

picture {
  width: 15%;
}

#jumboImg {
  width: 100%;
  height: 100%;
}

.thumbnailContainer {
  display: flex;
  width: 100%;
}

.thumbnails {
  /*margin: 10px;*/
  width: 33%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.thumbnails img {
  width: 100%;
}

.thumbnails p:first-of-type {
  font-size: 1.5em;
  margin: 0;
}

.thumbnails p:last-of-type {
  font-size: .7em;
}
@media screen and (max-width: 760px){
  .thumbnailContainer {
    display: block;
  }
  .thumbnails {
    width: 100%;
  }
  .thumbnails img {
    padding: 30px;
  }
}
